{% extends "AppWeb/padre.html" %}
{% load static %}

{% block formulario %}

<br>
<br>

    <div style="text-align: center;" ,class="row g-4">
    <div style="text-align: center;", class="text-center">
        <div>
             <div style="text-align: center;", class="card-body text-center">
                 <img src="{% static 'AppWeb/imagenes/logo.JPG' %}" class="rounded-circle mb-3" width="250">
             <h3 style="color: black;" , class="text-center">Augusto Lazbal</h3>
             </div>
        </div>
    </div>

    <hr>

    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       
           <div class="col">
            <div class="">
                 <div class="text-center">
                    
                    <p>Hola, mi nombre es Augusto y busco iniciar laboralmente en el mundo IT, tengo cursos finalizados en la UTN (Fundamentos de la programacion y Experto en JAVA) y curso actualmente en CoderHouse Python. Este proyecto muestra algunos pocos dibujos realizados por mi. Espero que les gusten.</p>
                 
                 
                 </div>
            </div>
        </div>
       </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>



{% endblock %}